@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Passcode #</h1>

    <h3>Score: @ViewBag.Count</h3>
    <a href="/"><button>Generate</button></a>
    <a href="/Clear"><button>Clear</button></a>




</div>
